.container {
  width: 358px;
  height: 150px;
  background-color: rgb(245, 240, 240);
  /* margin: 40px auto; */
  overflow: hidden;
}
.codigo {
  height: 540px;
}
.pelota {
  width: 200px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  animation: pelota 1s step-start infinite;
}
@keyframes pelota {
  0% {
    transform: translateY(50px);
    scale: 0.1;
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
  70% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-150px);
    scale: 0.3;
  }
}
